@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Sapphire */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 44%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
  }
}

/* Privacy Policy*/

.privacyContent {
  font-family: Arial, sans-serif;
}

.privacyContent h1 {
  font-size: 26px;
  color: #000000;
}

.privacyContent h2 {
  font-size: 19px;
  color: #000000;
}

.privacyContent p, 
.privacyContent li {
  color: #595959;
  font-size: 14px;
  line-height: 1.6;
}

.privacyContent a {
  color: #3030F1;
  text-decoration: none;
}

.privacyContent a:hover {
  text-decoration: underline;
}

/* End of PP */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .heading-1 {
    @apply mb-5 text-3xl font-semibold md:mb-6 md:text-4xl lg:text-5xl text-ma_darkBlue;
  }

  .heading-2 {
    @apply mb-5 text-2xl font-semibold text-ma_darkBlue tracking-tight md:mb-6 xl:text-3xl;
  }

  .heading-3 {
    @apply mb-5 text-xl font-semibold text-ma_darkBlue tracking-tight md:mb-6 xl:text-2xl;
  }

  .heading-4 {
    @apply mb-5 text-md font-medium text-ma_darkBlue md:mb-6 lg:text-lg;
  }

  .ma-primary-btn {
    @apply py-3 px-6 bg-ma_darkBlue border-ma_darkBlue border text-white rounded w-full md:w-fit;
  }

  .ma-primary-btn-alt {
    @apply py-3 px-6 bg-transparent border-ma_darkBlue border text-ma_darkBlue rounded md:w-fit w-full;
  }

  .ma-primary-btn-alt-white {
    @apply py-3 px-6 bg-transparent border-white border text-white rounded md:w-fit w-full;
  }

  .ma-primary-btn-accent {
    @apply py-3 px-6 bg-ma_accent border-ma_accent border text-white rounded md:w-fit w-full;
  }
}
